* {
  font-family: "Heebo", sans-serif;
}

.spacer {
  flex: 1;
}

.mid-h-divider {
  width: 50px;
}

.lg-section {
  height: calc(100vh - 70px);
}

.split {
  display: flex;
}

.mx-h {
  height: 100%;
}

@keyframes slid-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slid-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
