:root {
  --bg-clr: #f8f7f2;
}

$mobile-landscape: 767px;

.grn-col {
  background-color: #286f6c !important;
}
.orn-col {
  background-color: #eec048 !important;
}
.red-col {
  background-color: #f26440 !important;
}
